<script>
var canSchedule = true;

function schedule() {
  if (canSchedule)
  {
    canSchedule = false;
    $("#conduct_btn").addClass("disabled").text("Coordinating...");

    $.ajax("/home/schedule").done(function(data) {
      var endTime = new Date().getTime() + 10000;
      countdown(endTime);
    });
  }
}

function countdown(endTime) {
  var currentTime = new Date().getTime();
  if (currentTime < endTime) {
    var msLeft = endTime - currentTime;
    setButtonTextWithRemainingTime(msLeft);
    setTimeout(function() {
      countdown(endTime);
    }, 1000);
  }
  else {
    $("#conduct_btn").text("Conduct!").removeClass("disabled");
    canSchedule = true;
  }
}

function setButtonTextWithRemainingTime(msLeft) {
  var secondsLeft = Math.round(msLeft / 1000);
  $("#conduct_btn").text("Symphony in " + secondsLeft + " seconds...");
}

</script>
<div class="backgrounder">
  <div class="container">
    <div class="span2 offset1 visible-desktop" style="margin-left:85px;">
      <%= image_tag("logo.png", :class=>"visible-desktop") %>
    </div>
    <div class="span2 hidden-desktop" style="margin-left:-20px;">
      <%= image_tag("logo.png", :class=>"hidden-desktop") %>
    </div>
    <div class="row-fluid">
      <div class="span10 offset1"><h2>Syncrony Conductor</h2></div>
      <div class="row-fluid">
        <div class="span6 offset1">
          <div class="row-fluid">
            <div class="span7">
              <div style="height:20px"></div>
              <h4>To conduct your symphony, tell everyone to go to http://tunetether.com/home/sync on their mobile devices and click on the "Join!" button. Once they're there, click the "Conduct" button below.</h4>
              <div style="height:20px"></div>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span7">
              <a id="conduct_btn" class="btn btn-primary btn-block" href="#" role="button" data-toggle="modal" onclick="schedule();">
                <b>Conduct</b>
              </a>
            </div>
          </div>
          <div style="height:40px"></div>
        </div>
      </div>
    </div>
  </div>
</div>


