<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <%= link_to("/", :class => "brand") do %>
          <span style="color:white; margin-left:60px; font-family:'nexa_boldregular'; font-size:25px;">Tune<span style="color:#3C6CC0;">Tether</span></span>
        <% end %>
        <ul class="nav">
          <li><a href="#myModal" role="button" data-toggle="modal"><span style="font-family:'nexa_boldregular';">Downloads</span></a></li>
          <li class="active"><a href="faq.html"><span style="font-family:'nexa_boldregular';">FAQs</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div style="height: 70px;"></div>
<div class="container">
  <div class="row-fluid">
    <div class="span10 offset 2">
      <h3 id="q1">What is TuneTether?</h3>
      <br>
      <p>TuneTether is a universal app (currently in beta) that will allow iOS, Android, and Windows Phone smartphones to become one unified stereo system. Playing music on one phone will play music on all the phones. TuneTether will allow you to take your stereo wherever you and your friends choose to adventure!</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10 offset 1">
      <h3 id="q2">How does it work?</h3>
      <br>
      <p>TuneTether links you and your friend’s phones by creating a local network via wifi, 3G, or 4G connection. Once everyone is connected, the group leader starts the music playing. Your friends can all vote for the next song, and can share their playlists in real time over the air.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10 offset 1">
      <h3 id="q3">When will TuneTether be available?</h3>
      <br>
      <p>TuneTether was founded at the University of Washington Startup Weekend on January 25th, 2013. The team is composed of students from the University of Washington, Seattle University, and professional developers from local companies. With enough support, we hope to bring the app to market within a few months.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10 offset 1">
      <h3 id="q4">How much will TuneTether cost?</h3>
      <br>
      <p>TuneTether will be available free to download with additional premium features available for purchase.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10 offset 1">
      <h3 id="q5">How can I help make TuneTether a reality?</h3>
      <br>
      <p>Like the Facebook page, submit your email to our mailing list, complete our survey, and tell your friends!</p>
    </div>
  </div>
</div>
