<script>
var canPlay = true;
var audio = new Audio();
audio.src = "/assets/song1cut.mp3";
audio.load();
audio.play();
//$("#player").appendChild(audio);
/*audio.addEventListener("canplaythrough", function() {
  canPlay = true;
  $("#rock_btn").removeClass("disabled").text("Rock!");
}, false);*/

/*function syncPlay() {
  if (canPlay) {
    canPlay = false;
    $("#rock_btn").addClass("disabled").text("Get up and dance sucker!");
    audio.play();
  }
}*/
</script>
<div class="backgrounder">
  <div class="container">
    <div class="span2 offset1 visible-desktop" style="margin-left:85px;">
      <%= image_tag("logo.png", :class=>"visible-desktop") %>
    </div>
    <div class="span2 hidden-desktop" style="margin-left:-20px;">
      <%= image_tag("logo.png", :class=>"hidden-desktop") %>
    </div>
    <div class="row-fluid">
      <h6>proudly presents:</h6>
      <div class="span10 offset1"><h1>Surround Sound</h1></div>
      <div class="row-fluid">
        <div class="span6 offset1">
          <div class="row-fluid">
            <div class="span6">
              <div style="height:40px"></div>
              <h5>Ready...</h5>
              <h5>Sync...</h5>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span7">
              <a id="rock_btn" class="btn btn-primary btn-block disabled" href="#" role="button" data-toggle="modal" onclick="syncPlay();">
                <b>Loading...</b>
              </a>
            </div>
          </div>
          <div style="height:40px"></div>
<div id="player"></div>
        </div>
      </div>
    </div>
  </div>
</div>

