<div class="backgrounder">
  <div class="container">
    <div class="span2 offset1 visible-desktop" style="margin-left:85px;">
      <%= image_tag("logo.png", :class=>"visible-desktop") %>
    </div>
    <div class="span2 hidden-desktop" style="margin-left:-20px;">
      <%= image_tag("logo.png", :class=>"hidden-desktop") %>
    </div>
    <div class="row-fluid">
      <h6>proudly presents:</h6>
      <div class="span10 offset1"><h1>Surround Sound</h1></div>
      <div class="row-fluid">
        <div class="span6 offset1">
          <div class="row-fluid">
            <div class="span6">
              <div style="height:40px"></div>
              <h5>Ready...</h5>
              <h5>Sync...</h5>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span7">
              <a class="btn btn-primary btn-block" href="#myModal" role="button" data-toggle="modal">
                <b>Rock!</b>
              </a>
            </div>
          </div>
          <div style="height:40px"></div>
        </div>
      </div>
    </div>
  </div>
</div>

